<section th:fragment="section-cta" class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Start colaborating with the project.</h2>
            <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
            <a href="https://github.com/jmorenov/TweetSC/blob/master/docs/Memory/Memory.pdf"
               class="btn btn-outline btn-xl js-scroll-trigger">Know more about it</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>