<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="head-html :: head-html" />

    <body id="page-top">
        <nav th:replace="navbar-component :: navbar-component" />

        <header th:replace="header-component :: header-component" />

        <section th:replace="section-use-it :: section-use-it" />

        <section th:replace="section-features :: section-features" />

        <section th:replace="section-cta :: section-cta" />

        <section th:replace="section-contact :: section-contact" />

        <footer th:replace="footer-component :: footer-component" />
    </body>

    <dependencies th:replace="dependencies-html :: dependencies-html" />
</html>