<div th:fragment="advanced-example-search">
    <div class="row">
        <button type="button" class="btn btn-sm btn-link col-3" data-toggle="collapse"
                data-target="#exampleOfSearch" aria-expanded="false"
                aria-controls="exampleOfSearch">
            Search Example:
        </button>
    </div>
    <div class="collapse" id="exampleOfSearch">
        <div class="card card-body font-italic">
            <pre>
user=username&text=pruebadetexto
text=pruebadetextocualquiera
id=12345
            </pre>
        </div>
    </div>
</div>