<form th:fragment="advanced-search-tweets" class="form-inline" role="search" id="search-tweets-form">
    <div class="form-group row from-search-tweet form-group-search-tweet">
        <div class="col-sm-12 col-md-9 form-group-search-tweet">
            <input type="text" class="form-control form-control-lg input-search-tweet" placeholder="Search some tweets..." id="queryTweets">
        </div>
        <div class="col-sm-12 col-md-3 form-group-search-tweet">
            <button type="submit" value="Search" class="btn btn-xl btn-outline btn-advanced-correct">Search</button>
        </div>
    </div>
</form>